header{
  background-color: goldenrod;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 2px;
  color: blanchedalmond
}
/*background styling*/
body{
  background-color: maroon
}

main{
  background-color: goldenrod;
}
/* Links and Nav styling start*/
nav{
  text-align: center;
  font-family: "Comic Sans MS", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 30px;
  border-radius: 50%;
  border: 7px dotted gold;
  margin: 35px;
  height: 10px
}
a:link{
  color: bisque
}
a:visited{
  color: crimson
}
a:hover{
  color: gold
}
a:active{
  color: greenyellow
}
/* Links and Nav styling end*/

article{
  background-color: maroon;
  color: blanchedalmond;
  padding: 20px
}
/*classes start*/
.tahoma{
  font-family: tahoma;
} 
.comic{
  font-family: "Comic Sans MS", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.center{
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
}

.wrapper {
  width: 500px;
  margin: auto;
}
/*classes end */
ul{
  letter-spacing: 1.5px;
  line-height: 25px
}
p, ol{
  font-size: 25px;
  color: blanchedalmond
}
